@model moment3EF.Models.Lending

@{
    ViewData["Title"] = "Create";
}

<h1>Registrera utlåning av album</h1>
<br />
<h3>Album att låna</h3>
<br />
<h4>Ny utlåning</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label mb-2"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label mb-2 mt-3"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlbumId" class="control-label mb-2 mt-3"></label>
                <select asp-for="AlbumId" class="form-control" asp-items="ViewBag.AlbumId">
                    <option value="">--Välj här--</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DateOfLending" class="control-label mb-2 mt-3"></label>
                <input asp-for="DateOfLending" class="form-control" />
                <span asp-validation-for="DateOfLending" class="text-danger"></span>
            </div>
            <br />
            <span class="text-danger">@ViewBag.ErrorMessage</span>
            <div class="form-group">
                <input type="submit" value="Låna album" class="btn btn-primary mt-3 add_link" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till listan</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
