@{
    ViewData["Title"] = "DT191G";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <br />
    <p>Här går det att se en samling av musikalbum och artister!</p>
    <p> Det går även att lägga till artister och album.</p>
    <p>För att låna ut ett album, registrera det under kategorin Utlåning för att ha koll på dina album.</p>
</div>

